@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-size: 1rem;
    font-family: 'Montserrat';
}

header {
    background-color: #ffffff;
}


.nav-link {
    color: #CB6D43;
    font-weight: 600;
}

section {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.high-contrast {
    background-color: black;
    color: white;
}

.high-contrast a {
    color: rgb(0, 0, 0);
}

img {
    max-width: 100%;
    height: auto;
}

footer {
    background-color: #343a40;
    color: white;
    padding: 20px 0;
}

footer p {
    margin: 0;
}

.accessibility-menu {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;
}

.accessibility-options {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    opacity: 0;
    transform: translateY(-10px);
    /* transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out; */
}

.accessibility-options.show {
    opacity: 1;
    transform: translateY(0);
}

.accessibility-options button {
    margin-bottom: 5px;
}

.d-none {
    display: none;
}
